@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --color-1: #4d9bef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilizando todo o container */

.container-fluid {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
    
    height: 30vh; 
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
}

.box-1 h1 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-bottom: 1px solid var(--color-1);
}
.box-1 img{ 
    
    height: 300px;
    width: 300px;
}
.box-1 p {
    font-size: 1.1rem;
    text-align: center;
}

.box-1 p :hover {
    color: var(--color-1);
}

.box-1 a {
    text-decoration: none;
    color: black;
    
}

.box-1 a :hover {
    color: var(--color-1);
}

.form {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    padding: 10px;
}

.item-form {
    display: flex;
    justify-content: space-around;
}


.item-form input {
    padding-left: 25px;
    border: 0;
    border-radius: 25px;
}

/* Estilizar o botão */

.item-form-btn button {
    width: 110px;
    height: 45px;
    background-color:var(--color-1);
    border: 0;
    border-radius: 5px;
    color: black;
}

.item-form-btn :hover{
    color: white;
} 

.item-form-btn button:active {
    background-color: var(--color-1);
    color: var(--color-4); 
}

.item-form-btn i.icon {
    position: relative;
    font-size: 1.4rem;
    right: 30px;
    top: 2px;
}

/* Estilizando o footer */

footer {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin: 10px;
}


.box-1 footer :hover{
    color:var(--color-1);
}

/* Estilizando o media */

@media (max-width: 470px) {
    .box-1 {
        width: 100%;
    }

    .form {
        font-size: 1.1rem;
    }

    .item-form {
        flex-direction: column;
    }

    .item-form .icon {
        width: 10px;
        top: 35px;
        left: 5px;
    }

    .item-form input {
        height: 5vh;
    }

}

